<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Higor Hungria</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Help Desk - Higor Hungria">
    <mat-card-content>
        <p>
            Hello! Welcome to the Help Desk system developed by me in the Full Stack Developer course.<br />
            This is a system for managing tickets, simulating a simple Help Desk developed with Angular 12 and Spring Boot 2.<br />
            The main goal of the project is to cover concepts of SPA applications, Authentication and Authorization with JWT Tokens, and other things.
            <br /><br /> Feel free to test the system and leave your suggestions.
            <br /> At.te: Higor Hungria
        </p>
    </mat-card-content>
</mat-card>