/* You can add global styles to this file, and also import other style files */
@import '../node_modules//ngx-toastr/toastr.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #000;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input.mat-input-element:-webkit-autofill,
input.mat-input-element:-webkit-autofill:hover,
input.mat-input-element:-webkit-autofill:focus,
input.mat-input-element:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-text-fill-color: #000 !important; /* texto preto */
  background-color: transparent !important;
}

